@charset "UTF-8";
@font-face {
  font-family: Cardo;
  font-display: swap;
  src: url("../fonts/Cardo-Regular.woff2") format("woff2"), url("../fonts/Cardo-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.stats-item, h2, h3, h4, h5, h6, .button-order-today, .footer__contact-type, .articles__readmore a, .articles__name, .reviews__subheading, .reviews__name, .chapters__title, .learn__card, .company-card__name, .qr__name, .about-the-author__number, h1, .main-book__free-demo-link, .main-book__text-subtitle {
  font-family: "Cardo", serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.header {
  display: flex;
  background-color: #1B3764;
  width: 100%;
  align-items: center;
  padding: 20px 0;
}
.header__social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__social-media-icons {
  display: flex;
  flex-direction: row;
  margin: 0 35px;
}
.header__social-media-links {
  margin: 0 10px 0 0;
  -webkit-transition: -webkit-transform 1.3s ease-in-out;
  transition: transform 1.3s ease-in-out;
}
.header__social-media-links:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.header__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 225px;
}
.header__menu-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__menu-link {
  color: #F6F8FC;
  text-decoration: none;
  margin-right: 53px;
  font-size: 1.7rem;
  line-height: 2.55rem;
  letter-spacing: 0.017rem;
}
.header__menu-link:hover {
  color: #FFCA42;
}

.pages {
  margin-right: 60px;
}

.main-book {
  background-color: #1B3764;
  display: flex;
  padding-bottom: 100px;
  padding-top: 100px;
}
.main-book__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-book__text-welcome {
  display: flex;
  align-items: center;
}
.main-book__text-subtitle {
  display: block;
  font-size: 2.1rem;
  line-height: 3.6rem;
  letter-spacing: 0.12rem;
  color: #fff;
}
.main-book__line {
  margin-right: 14px;
}
.main-book__credo {
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #B4C7E7;
  margin-top: 35px;
  margin-bottom: 40px;
}
.main-book__free-demo {
  display: flex;
  margin-bottom: 43px;
}
.main-book__free-demo-link {
  display: block;
  font-size: 1.9rem;
  max-height: 31px;
  line-height: 3rem;
  letter-spacing: 0.038rem;
  text-transform: capitalize;
  color: #fff;
  margin-left: 50px;
  margin-top: 18px;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  padding-bottom: 3px;
}
.main-book__free-demo-link:hover {
  border-bottom: 2px solid #fff;
  font-size: 2rem;
  transition: 0.3s;
}
h1 {
  color: #fff;
  font-size: 6.4rem;
  line-height: 7.8rem;
  letter-spacing: 0.13rem;
  max-width: 588px;
  font-weight: normal;
}

.numbers-of-stats-item {
  display: inline-block;
  margin-right: 40px;
  font-size: 1.7rem;
  margin-left: 22px;
  line-height: 2.7rem;
}
.numbers-of-stats-item-last {
  margin-left: 57px;
}

.authors-book {
  display: flex;
  flex-direction: column;
  padding-top: 126px;
}
.authors-book__title {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.authors-book__h2 {
  margin: 0 auto;
  font-size: 42px;
  line-height: 50px;
}
.authors-book__line {
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 70px;
}

.book-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 150px;
}

.book-card {
  display: flex;
}
.book-card__text {
  max-width: 287px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
}
.book-card__subtitle {
  font-size: 3.2rem;
  line-height: 3.8rem;
  letter-spacing: 0.032rem;
}
.book-card__subtitle a {
  text-decoration: none;
  color: #1B3764;
}
.book-card__subtitle a:hover {
  color: #021029;
}
.book-card__price {
  color: #FFCA42;
  font-size: 2.1rem;
  line-height: 3.3rem;
  margin-top: 10px;
}
.book-card__description {
  line-height: 2.8rem;
  margin-top: 18px;
}

.about-the-author {
  background-color: #F5F8FC;
  padding-top: 139px;
  padding-bottom: 139px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.about-the-author__photo {
  display: flex;
  margin-right: 150px;
}
.about-the-author__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-the-author__h2 {
  font-size: 4.2rem;
  line-height: 5rem;
}
.about-the-author__line {
  margin-top: 30px;
  margin-bottom: 36px;
}
.about-the-author__text {
  max-width: 559px;
  line-height: 3.4rem;
}
.about-the-author__data {
  display: flex;
  justify-content: space-between;
  margin-top: 39px;
}
.about-the-author__number {
  color: #1B3764;
  font-weight: 400;
  font-size: 5.4rem;
  line-height: 7.7rem;
}
.about-the-author__number:hover {
  font-size: 6.2rem;
  transition: 0.3s;
}
.about-the-author__text-number {
  font-size: 1.7rem;
  line-height: 2.2rem;
}

.qr {
  background-color: #1B3764;
  width: 484px;
  height: 161px;
  margin-top: 55px;
  display: flex;
  align-items: center;
}
.qr__code {
  margin-left: 20px;
  margin-right: 40px;
}
.qr__text {
  display: flex;
  flex-direction: column;
}
.qr__name {
  color: #FFCA42;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 2.6rem;
  margin-bottom: 12px;
  margin: 0;
}
.qr__contact {
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 2.8rem;
  letter-spacing: 0.02rem;
  color: #B4C7E7;
  margin-top: 5px;
}

.trusted {
  padding-bottom: 130px;
}
.trusted__line {
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 10px;
}
.trusted__companies {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 40px;
}

.company-card {
  display: flex;
  flex-direction: column;
  max-width: 313px;
  align-items: center;
}
.company-card__name {
  color: #1B3764;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.9rem;
  margin-top: 22px;
}
.company-card__desc {
  font-size: 1.9rem;
  line-height: 2.8rem;
  text-align: center;
  margin-top: 25px;
}

.get-book {
  background-color: #1B3764;
  padding: 70px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.get-book__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.get-book__title {
  color: #fff;
  font-size: 4.5rem;
  line-height: 5.4rem;
}
.get-book__line {
  margin-top: 24px;
}
.get-book__desc {
  max-width: 520px;
  margin-right: 201px;
  margin-top: 30px;
}

.learn {
  display: flex;
  height: 1095px;
  justify-content: center;
}
.learn__line {
  margin: 0 auto;
  margin-top: 26px;
  margin-bottom: 70px;
}
.learn__box {
  display: flex;
}
.learn__cards {
  display: flex;
  flex-direction: column;
  max-width: 636px;
  margin-right: 59px;
}
.learn__card {
  max-width: 303px;
  background-color: #F4F8FF;
  max-height: 272px;
  padding: 30px;
  margin: 30px 30px 30px 0;
  color: #1B3764;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.4rem;
}
.learn__card:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}
.learn__text {
  margin-top: 30px;
}

.number-circle {
  font-size: 2.3rem;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #FFCA42;
  text-align: center;
  padding: 8px;
}

.chapters {
  background-color: #F4F8FF;
  height: 1154px;
  display: flex;
  align-items: center;
}
.chapters__line {
  margin: 0 auto;
  margin-top: 26px;
  margin-bottom: 70px;
}
.chapters__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chapters__card {
  max-width: 533px;
  padding: 40px;
  background-color: #fff;
}
.chapters__card-mr {
  margin-right: 30px;
}
.chapters__card-mb {
  margin-bottom: 40px;
}
.chapters__title {
  color: #1B3764;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.9rem;
}
.chapters__text {
  line-height: 3.2rem;
  margin-top: 23px;
}
.chapters__stats {
  margin-top: 15px;
}
.chapters__time {
  font-size: 1.7rem;
  line-height: 2.7rem;
  margin-right: 45px;
}

.reviews {
  display: flex;
  height: 884px;
  align-items: center;
}
.reviews__text {
  display: flex;
  flex-direction: column;
  max-width: 435px;
}
.reviews__title {
  font-size: 4.2rem;
  line-height: 5rem;
  max-width: 329px;
}
.reviews__line {
  margin-top: 26px;
}
.reviews__description {
  margin-top: 33px;
}
.reviews__rating {
  display: flex;
  margin-top: 15px;
}
.reviews__rounds {
  margin-right: 10px;
}
.reviews__overall {
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #1B3764;
  margin-top: 15px;
}
.reviews__cards {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
.reviews__review-card {
  width: 381px;
  height: 292px;
  background-color: #1B3764;
  padding: 30px 56px 24px 35px;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  color: #fff;
  margin: 20px 20px 0 0;
}
.reviews__profile {
  display: flex;
}
.reviews__profile-info {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}
.reviews__name {
  font-size: 2.4rem;
  line-height: 2.9rem;
}
.reviews__small-rating {
  margin-top: 15px;
}
.reviews__subheading {
  font-size: 2.2rem;
  line-height: 3.3rem;
  margin: 40px 0 0;
}
.reviews__body {
  font-size: 1.8rem;
  line-height: 2.9rem;
  color: #B4C7E7;
}

.articles {
  display: flex;
  flex-direction: column;
  background: #F4F8FF;
  height: 1045px;
  align-items: center;
  justify-content: center;
}
.articles__text {
  margin: 0 auto;
}
.articles__line {
  margin: 0 auto;
  margin-top: 26px;
}
.articles__list {
  display: flex;
  margin-top: 70px;
}
.articles__post {
  display: flex;
  flex-direction: column;
}
.articles__text-box {
  padding: 25px 30px 30px 30px;
  width: 420px;
}
.articles__name {
  margin-top: 25px;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.4rem;
  width: 318px;
}
.articles__name a {
  text-decoration: none;
  color: #1B3764;
}
.articles__name a:hover {
  color: #021029;
}
.articles__desc {
  line-height: 3rem;
  margin-top: 20px;
}
.articles__meta {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.articles__readmore a {
  text-decoration: none;
  color: #1B3764;
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 2.3rem;
  letter-spacing: 0.038rem;
  border-bottom: 2px solid #1B3764;
}
.articles__readmore a:hover {
  color: #021029;
}
.articles__date {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #1B3764;
  padding-top: 5px;
}

.mr-20 {
  margin-right: 20px;
}

.subscribe {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 120px 0;
}
.subscribe__body {
  background-color: #FFCA42;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1300px;
  display: flex;
  flex-direction: column;
  padding: 100px 0 115px;
}
.subscribe__title {
  font-size: 4.2rem;
  line-height: 5rem;
}
.subscribe__line {
  margin: 0 auto;
  margin-top: 26px;
}
.subscribe__desc {
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #1B3764;
  max-width: 550px;
  text-align: center;
  margin-top: 28px;
}

.subscribe-form {
  margin-top: 53px;
}
.subscribe-form__btn {
  height: 68.5px;
  width: 328px;
  border: 2px solid #1B3764;
  border-radius: 0px;
  background-color: #1B3764;
  color: #FFFFFF;
  font-size: 1.8rem;
  line-height: 3.1rem;
  letter-spacing: 0.018rem;
  cursor: pointer;
}
.subscribe-form__btn:hover {
  background-color: #10274d;
  transition: 0.5s;
}
.subscribe-form__input {
  padding: 19px 20px 19px 39px;
  background: #FFFFFF;
  border: 1px solid #DCE1E9;
  border-radius: 0px;
  width: 656px;
  font-size: 1.8rem;
  line-height: 3.1rem;
  letter-spacing: 0.018rem;
  color: #B4C7E7;
  margin-right: 16px;
}

.footer {
  background-color: #1B3764;
  display: flex;
  padding: 92px 0;
}
.footer__social-media {
  display: flex;
  flex-direction: column;
}
.footer__social-media-icons {
  display: flex;
  margin-top: 20px;
}
.footer__social-media-links {
  margin-right: 10px;
  -webkit-transition: -webkit-transform 1.3s ease-in-out;
  transition: transform 1.3s ease-in-out;
}
.footer__social-media-links:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.footer__menu-1 {
  display: flex;
  flex-direction: column;
  margin-left: 68px;
}
.footer__h4 {
  color: #fff;
  font-size: 2.4rem;
  line-height: 3.4rem;
  letter-spacing: 0.0384rem;
}
.footer__list {
  margin-left: 11px;
  margin-top: 25px;
}
.footer__list-item {
  display: flex;
}
.footer__markers {
  display: flex;
  margin-top: 14px;
  margin-right: 11px;
}
.footer__link {
  text-decoration: none;
  color: #fff;
  display: block;
  font-size: 1.8rem;
  line-height: 3.1rem;
  letter-spacing: 0.018rem;
  color: #B4C7E7;
}
.footer__menu-2 {
  display: flex;
  flex-direction: column;
}
.footer__menu-3 {
  display: flex;
  flex-direction: column;
}
.footer__contacts {
  display: flex;
  margin-top: 25px;
}
.footer__contact-type {
  margin-right: 19px;
  color: #fff;
  font-size: 1.8rem;
  line-height: 2.7rem;
  letter-spacing: 0.036rem;
}
.footer__contact {
  font-size: 1.7rem;
  line-height: 2.7rem;
  color: #B4C7E7;
  max-width: 236px;
}
.footer__mail {
  text-decoration: none;
  font-size: 1.7rem;
  line-height: 2.7rem;
  color: #B4C7E7;
  max-width: 236px;
}
.footer__phone {
  text-decoration: none;
  font-size: 1.7rem;
  line-height: 2.7rem;
  color: #B4C7E7;
  max-width: 236px;
}
.footer a:hover {
  color: #fff;
}

.mr-5 {
  margin-right: 5px;
}

.mr-70 {
  margin-right: 70px;
}

.mr-100 {
  margin-right: 100px;
}

html {
  font-size: 10px;
}

body {
  font-family: "Inter", serif;
  font-size: 1.9rem;
  color: #969AA0;
  font-weight: 400;
  font-style: normal;
}

[class*=__container] {
  max-width: 1440px;
  margin: 0px auto;
  padding: 0 15px;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
}
.wrapper__header {
  max-width: 1360px;
}

[class*=__big-content-container] {
  max-width: 1330px;
  margin: 0px auto;
  width: 100%;
  padding: 0 15px;
  display: flex;
}

.logo {
  display: block;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.button-order-today {
  display: block;
  text-decoration: none;
  box-sizing: border-box;
  background: #FFCA42;
  border: 2px solid #FFCA42;
  color: #1B3764;
  padding: 18px 52px;
  font-size: 1.9rem;
  line-height: 2.8rem;
  letter-spacing: 0.57px;
}
.button-order-today:hover {
  background: rgb(250, 182, 34);
}
.button-order-today-white {
  background: none;
  margin-left: 0;
  margin-top: 29px;
  padding: 19px 51px;
  letter-spacing: 0.38px;
  max-width: 206px;
}
.button-order-today-blue {
  background: none;
  color: #fff;
  text-transform: capitalize;
  margin-top: 28px;
  max-width: 220px;
  margin-left: 0;
}
.button-order-today-blue:hover {
  color: #1B3764;
}
.button-order-today-trial {
  max-width: 429px;
  padding: 23px 92px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 37px;
}

.line {
  height: 3px;
  width: 50px;
  background: #FFCA42;
}
.line_blue {
  background: #1B3764;
}
.line_tiny {
  height: 2px;
  width: 35px;
}

h2, h3, h4, h5, h6 {
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
  color: #1B3764;
}

.vertical-line {
  width: 1px;
  height: 98px;
  background: #FFCA42;
}

.main-title {
  margin: 0 auto;
  padding-top: 110px;
}
.main-title-chapters {
  margin-top: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.stats {
  list-style-type: disc;
}

.stats-item {
  display: inline-block;
  padding-right: 60px;
  font-style: normal;
  font-size: 2.4rem;
  line-height: 2.9rem;
  letter-spacing: 0.48px;
  color: #FFFFFF;
  list-style-type: disc;
}
.stats-item::before {
  content: "●";
  color: #FFCA42;
}
.stats-item-blue {
  color: #1B3764;
  margin-top: 14px;
}
.stats-item-chapters {
  color: #1B3764;
  padding-right: 5px;
  font-size: 2.2rem;
  line-height: 3.1rem;
}
.stats-item-chapters::before {
  padding-right: 6px;
}

span.blue {
  color: #1B3764;
}

p {
  margin: 0 auto;
}