.articles {
    display: flex;
    flex-direction: column;
    background: $color-background-light;
    align-items: center;
    justify-content: center;
    padding: 130px 0 120px;

    &__text {
        margin: 0 auto;
    }

    &__title {}

    &__line {
        margin: 0 auto;
        margin-top: 26px;
    }

    &__list {
        display: flex;
        margin-top: 70px;
    }

    &__post {
        display: flex;
        flex-direction: column;
    }

    &__img {}

    &__text-box {
        padding: 25px 30px 30px 30px;
        width: 420px;
    }

    &__name {
        margin-top: 25px;
        @extend %font-second;
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 3.4rem;
        width: 318px;

        & a {
            text-decoration: none;
            color: $color-primary;

            &:hover {
                color: #021029;
            }

        }
    }

    &__desc {
        line-height: 3rem;
        margin-top: 20px;
    }

    &__meta {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }

    &__readmore {

        & a {
            text-decoration: none;
            color: $color-primary;
            @extend %font-second;
            font-weight: 400;
            font-size: 1.9rem;
            line-height: 2.3rem;
            letter-spacing: 0.038rem;
            border-bottom: 2px solid #1B3764;

            &:hover {
                color: #021029;
            }
        }
    }

    &__date {
        font-size: 1.6rem;
        line-height: 2.6rem;
        color: $color-primary;
        padding-top: 5px;

    }
}

.mr-20 {
    margin-right: 20px;
}