.chapters {
    background-color: $color-background-light;
    height: 1154px;
    display: flex;
    align-items: center;
   
    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__card {
        max-width: 533px;
        padding: 40px;
        background-color: #fff;
        
        &-mr {
            margin-right: 30px;
        }

        &-mb {
            margin-bottom: 40px;
        }
    }

    &__title {
        color: $color-primary;
        font-family: 'Cardo';
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 2.9rem;
    }

    &__text {
        line-height: 3.2rem;
        margin-top: 23px;
    }

    &__stats {
        margin-top: 15px;
    }

    &__time {
        font-size: 1.7rem;
        line-height: 2.7rem;
        margin-right: 45px;
    }
}