.footer {
    background-color: $main-blue;
    display: flex;
    height: 350px;
    padding: 92px 0;
   
    

    &__social-media {
        display: flex;
        flex-direction: column;
        
    }

    &__social-media-icons {
        display: flex;
        margin-top: 20px;
    }

    &__social-media-links {
        margin-right: 10px;
        -webkit-transition: -webkit-transform 1.3s ease-in-out;
          transition:         transform 1.3s ease-in-out;

        &:hover {
            -webkit-transform: rotate(360deg); 
            transform: rotate(360deg);
        }
    }

    &__menu-1 {
        display: flex;
        flex-direction: column;
        margin-left: 68px;

    }

    &__h4 {
        color: #fff;
        font-size: 2.4rem;
        line-height: 3.4rem;
        letter-spacing: 0.0384rem;
    }

    &__list {
        margin-left: 11px;
        margin-top: 25px;

    }

    &__list-item {
        display: flex;
        
       
    }

    &__marker {

    }

    &__markers {
        display: flex;
        margin-top: 14px;
        margin-right: 11px;
        
    }

    &__link {
        text-decoration: none;
        color: #fff;
        display: block;
        font-size: 1.8rem;
        line-height: 3.1rem;
        letter-spacing: 0.018rem;
        color: #B4C7E7;
    }

    &__menu-2 {
        display: flex;
        flex-direction: column;

    }

    &__menu-3 {
        display: flex;
        flex-direction: column;
    }

    &__contacts {
        display: flex;
        margin-top: 25px;

    }

    &__contact-type {
        margin-right: 19px;
        font-family: 'Cardo';
        color: #fff;
        font-size: 1.8rem;
        line-height: 2.7rem;
        letter-spacing: 0.036rem;
    }

    &__contact {
        font-size: 1.7rem;
        line-height: 2.7rem;
        color: #B4C7E7;
        max-width: 236px;

    }

    &__mail {
        text-decoration: none;
        font-size: 1.7rem;
        line-height: 2.7rem;
        color: #B4C7E7;
        max-width: 236px;
    }

    &__phone {
        text-decoration: none;
        font-size: 1.7rem;
        line-height: 2.7rem;
        color: #B4C7E7;
        max-width: 236px;
    }

    & a:hover {
        color: #fff;
    }
}

.mr-5 {
    margin-right: 5px;
}

.mr-70 {
    margin-right: 70px;
}

.mr-100 {
    margin-right: 100px;
}