.get-book {
    background-color: $color-primary;
    padding: 70px 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include media-mobile-small {
            order: 2;
        }
    }

    &__image {
        @include media-mobile-small {
            order: 1;
        }
    }

    &__title {
        color: #fff;
        font-size: 4.5rem;
        line-height: 5.4rem;
    }

    &__line {
        margin-top: 24px;
    }

    &__desc {
        max-width: 520px;
        margin-right: 201px;
        margin-top: 30px;

        @include media-mobile-small {
            max-width: 100%;
            margin: 0 auto;
        }
    }
}

.get-book .wrapper {
    @include media-mobile-small {
        flex-wrap: wrap;
    }
}