.header {
    display: flex;
    background-color: $color-primary;
    width: 100%;
    align-items: center;
    padding: 20px 0;


    &__social-media {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        &-icons {
            display: flex;
            flex-direction: row;
            margin: 0 35px;
        }

        &-links {
            margin: 0 10px 0 0;
            -webkit-transition: -webkit-transform 1.3s ease-in-out;
            transition: transform 1.3s ease-in-out;

            &:hover {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }

        }
    }

    &__menu {
        margin-left: auto;

        &-list {
            display: flex;
            flex-direction: row;
            align-items: center;

            &-item {}
        }

        &-link {
            color: $color-header-links;
            text-decoration: none;
            margin-right: 53px;
            font-size: 1.7rem;
            line-height: 2.55rem;
            letter-spacing: 0.017rem;


            &:hover {
                color: $color-secondary;
            }

        }

    }
}

.pages {
    margin-right: 60px;
}