.main-book {
    background-color: $color-primary;
    height: 1000px;
    display: flex;
    padding-bottom: 100px;
            
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-welcome {
            display: flex;
            align-items: center;
        }

        &-subtitle {
            display: block;
            font-family: Cardo;
            font-size: 2.1rem;
            line-height: 3.6rem;
            letter-spacing: 0.12rem;
            color: #fff;
        }

    }
    &__credo {
        font-size: 1.8rem;
        line-height: 2.8rem;
        color: $color-tertiary;
        margin-top: 35px;
        margin-bottom: 40px;
    }
    
    &__free-demo {
        display: flex;
        margin-bottom: 43px;

        &-link {
            display: block;
            font-family: 'Cardo';
            font-size: 1.9rem;
            max-height: 31px;
            line-height: 3rem;
            letter-spacing: 0.038rem;
            text-transform: capitalize;
            color: #fff;
            margin-left: 50px;
            margin-top: 18px;
            text-decoration: none;
            border-bottom: 1px solid #fff;
            padding-bottom: 3px;

                &:hover {
                    border-bottom: 2px solid #fff;
                    font-size: 2rem;
                    transition: 0.3s;
                }
        }
    }

    &__stats {

    }
}

.big-book-cover {
  margin-top: 100px;
    
}

h1 {
    color: #fff;
    font-family: Cardo;
    font-size: 6.4rem;
    line-height: 7.8rem;
    letter-spacing: 0.13rem;
    max-width: 588px;
    font-weight: normal;

}

.numbers-of-stats {

    &-item {
        display: inline-block;
        margin-right: 40px;
        font-size: 1.7rem;
        margin-left: 22px;
        line-height: 2.7rem;
       
        &-last {
            margin-left: 57px;
        }
    }
}

