.reviews {
    display: flex;
    height: 884px;
    align-items: center;

    &__text {
        display: flex;
        flex-direction: column;
        max-width: 435px;
    }

    &__title {
        font-size: 4.2rem;
        line-height: 5rem;
        max-width: 329px;
    }

    &__description {
        margin-top: 33px;
    }

    &__rating {
        display: flex;
        margin-top: 15px;
    }

    &__rounds {
        margin-right: 10px;

    }

    &__score {

    }

    &__overall {
        font-size: 1.8rem;
        line-height: 2.8rem;
        color: $color-primary;
        margin-top: 15px;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        margin-left: 50px;
    }

    &__review-card {
        width: 381px;
        height: 292px;
        background-color: $color-primary;
        padding: 30px 56px 24px 35px;
        display: flex;
        flex-direction: column;
        font-weight: 400;
        color: #fff;
        margin: 20px 20px 0 0;
    }

    &__profile {
        display: flex;
    }

    &__image {
        

    }

    &__profile-info {
        display: flex;
        flex-direction: column;
        margin: 0 20px;

    }

    &__name {
        font-family: 'Cardo', serif;
        font-size: 2.4rem;
        line-height: 2.9rem;
    }

    &__small-rating {
        margin-top: 15px;
    }

    &__subheading {
        font-family: 'Cardo', serif;
        font-size: 2.2rem;
        line-height: 3.3rem;
        margin: 40px 0 0;
    }

    &__body {
        font-size: 1.8rem;
        line-height: 2.9rem;
        color: $color-tertiary;
    }
}
