@import "fonts";
@import "var";
@import "reset";
@import "header";
@import "main-book";
@import "authors-book";
@import "about-the-author";
@import "trusted";
@import "get-book";
@import "learn";
@import "chapters";
@import "reviews";
@import "articles";
@import "subscribe";
@import "footer";

html {
	font-size: 10px;
}

body {
	font-family: Inter;
	font-size: 1.9rem;
	color: $color-text;
	font-weight: 400;
	font-style: normal;
}

[class*="__container"] {
	max-width: 1440px;
	margin: 0px auto;
	//width: 100%;
	padding: 0 15px;
}

[class*="__content-container"] {
	max-width: 1300px;
	margin: 0px auto;
	//width: 100%;
	padding: 0 15px;
	display: flex;
}

[class*="__big-content-container"] {
	max-width: 1330px;
	margin: 0px auto;
	width: 100%;
	padding: 0 15px;
	display: flex;
}

.logo {
display: block;	

}

.flex {
	display: flex;
}

.flex-center {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.button-order-today {
	display: block;
	text-decoration: none;
	box-sizing: border-box;
	background: $color-secondary;
	border: 2px solid $color-secondary;
	color: $color-primary;
	padding: 18px 52px;
	font-family: 'Cardo';
	font-size: 1.9rem;
	line-height: 2.8rem;
	letter-spacing: 0.57px;
	margin-left: 51px;

	 &:hover {
		background: rgb(250, 182, 34);
	 }

	&-white {
		background: none;
		margin-left: 0;
		margin-top: 29px;
		padding: 19px 51px;
		letter-spacing: 0.38px;
		max-width: 206px;
	}

	&-blue {
		background: none;
		color: #fff;
		text-transform: capitalize;
		margin-top: 28px;
		max-width: 220px;
		margin-left: 0;

		&:hover {
			color: $color-primary;
		 }
	}

	&-trial {
		max-width: 429px;
		padding: 23px 92px;
		margin: 0 auto;
		margin-top: 60px;
		margin-bottom: 37px;

	}

}

.line {
    height: 2px;
    width: 35px;
    background:$color-secondary;
    margin-right: 14px;
    
	&-bold {
		height: 3px;
		width: 50px;
		margin: 0 auto;
		margin-top: 25px;
		margin-bottom: 70px;
	}

	&-author {
		height: 3px;
		width: 50px;
		margin-top: 30px;
		margin-bottom: 36px;
	}

	&-get {
		height: 3px;
		width: 50px;
		margin-top: 24px;
	}

	&-reviews {
		height: 3px;
		width: 50px;
		margin-top: 26px;
	}

	&-articles {
		background: $color-secondary;
		margin: 0 auto;
		margin-top: 26px;
	}

	&-blue {
		background: $color-primary;
	}
}

h2, h3, h4, h5, h6 {
	font-family: 'Cardo';
	font-style: normal;
	font-weight: 400;
	text-transform: capitalize;
	color: $color-primary;
}

.vertical-line {
	width: 1px;
	height: 98px;
	background: $color-secondary;
}

.main-title {
	margin: 0 auto;
	margin-top: 110px;

	&-chapters {
		margin-top: 0;
	}
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.stats {
    list-style-type: disc;
}


.stats-item {
    display: inline-block;
    padding-right: 60px;
    font-family: 'Cardo';
    font-style: normal;
    font-size: 2.4rem;
    line-height: 2.9rem;
    letter-spacing: 0.48px;
    color: #FFFFFF;
    list-style-type: disc;

    &::before {
        content: '\25CF';
        color: $color-secondary;

    }

    &-blue {
        color: $color-primary;
        margin-top: 14px;
    }

	&-chapters {
		color: $color-primary;
		padding-right: 5px;
		font-size: 2.2rem;
		line-height: 3.1rem;

		&::before {
			padding-right: 6px;
		}
	}

}

span.blue {
	color: $color-primary;
}
p {
	margin: 0 auto;
}