@import "fonts";
@import "var";
@import "reset";
@import "header";
@import "main-book";
@import "authors-book";
@import "about-the-author";
@import "trusted";

body {
	font-family: Inter;
	font-size: 19px;
	color: $main-grey;
	font-weight: 400;
}

[class*="__container"] {
	max-width: 1440px;
	margin: 0px auto;
	width: 100%;
	padding: 0 15px;
}

[class*="__content-container"] {
	max-width: 1300px;
	margin: 0px auto;
	width: 100%;
	padding: 0 15px;
	display: flex;
}

[class*="__big-content-container"] {
	max-width: 1330px;
	margin: 0px auto;
	width: 100%;
	padding: 0 15px;
	display: flex;
}

.logo {
display: block;	

}

.flex {
	display: flex;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.button-order-today {
	display: block;
	text-decoration: none;
	box-sizing: border-box;
	background: $golden;
	border: 2px solid $golden;
	color: $main-blue;
	padding: 18px 52px;
	font-family: 'Cardo';
	font-size: 19px;
	line-height: 28px;
	letter-spacing: 0.57px;
	margin-left: 51px;

	&-white {
		background: none;
		margin-left: 0;
		margin-top: 29px;
		padding: 19px 51px;
		letter-spacing: 0.38px;
		max-width: 206px;
	}

}

.line {
    height: 2px;
    width: 35px;
    background:$golden;
    margin-right: 14px;
    
	&-bold {
		height: 3px;
		width: 50px;
		margin: 0 auto;
		margin-top: 25px;
		margin-bottom: 70px;
	}

	&-author {
		height: 3px;
		width: 50px;
		margin-top: 30px;
		margin-bottom: 36px;
	}

}

h2, h3 {
	font-family: 'Cardo';
	font-style: normal;
	font-weight: 400;
	text-transform: capitalize;
	color: $main-blue;
}

.vertical-line {
	width: 1px;
	height: 98px;
	background: $golden;
}
