.subscribe {
    display: flex;
    height: 729px;
    align-items: center;
    text-align: center;
    
    
    &__body {
        background-color: $color-secondary;
        height: 489px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1300px;
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 4.2rem;
        line-height: 5rem;
    }

    &__desc {
        font-size: 1.8rem;
        line-height: 2.8rem;
        color: $color-primary;
        max-width: 550px;
        text-align: center;
        margin-top: 28px;
    }

}

.subscribe-form {
    margin-top: 53px;


    &__btn {
        height: 68.5px;
        width: 328px;
        border: 2px solid #1B3764;
        border-radius: 0px;
        background-color: $color-primary;
        color: #FFFFFF;
        font-size: 1.8rem;
        line-height: 3.1rem;
        letter-spacing: 0.018rem;
        cursor: pointer;

        &:hover {
            background-color: #10274d;
            transition: 0.5s;
        }

    }

    &__input {
        padding: 19px 20px 19px 39px;
        background: #FFFFFF;
        border: 1px solid #DCE1E9;
        border-radius: 0px;
        width: 656px;
        font-size: 1.8rem;
        line-height: 3.1rem;
        letter-spacing: 0.018rem;
        color: $color-tertiary;
        margin-right: 16px;

    }
}
