.trusted { 

    

    &__companies {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 130px;
    }
}

.company-card {
    display: flex;
    flex-direction: column;
    max-width: 313px;
    align-items: center;
    

    &__logo {

    }

    &__name {
        color: $main-blue;
        font-family: 'Cardo';
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 2.9rem;
        margin-top: 22px;
    }

    &__desc {
        font-size: 1.9rem;
        line-height: 2.8rem;
        text-align: center;
        margin-top: 25px;
    }
}