$color-primary: #1B3764;
$color-secondary: #FFCA42;
$color-text: #969AA0;
$color-tertiary: #B4C7E7; // голубой цвет на синем фоне
$color-background-light: #F4F8FF;
$color-header-links: #F6F8FC;
$content-width: 1440px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
$tablet-width: 1024px;